@font-face{
  font-family: "montserrat";
  src:  url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
 }

body {
  display: grid;
  grid-template-columns: 15rem 1fr 1fr ;
  grid-template-rows: 7rem 1fr 1fr;
  grid-template-areas: "side header header"
                       "side main main"
                       "side main main";
  height: 100vh; 
  margin:0;
}
.header {
  grid-area: header;
  background-color: white;
  padding: 1rem;
}

.side {
  grid-area: side;
  padding:1rem;
  background-color: #3D051B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "montserrat";
  .title{
    display: flex;
    align-items: center;
    color:white;
    font-size: 0.8rem;
    gap:8px;
  }
  img{
    width:6rem;
    height:4rem;
  }
  a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  a:active{
    background-color: #6a1b41;
  }

}
.sidebar-footer{
  justify-self: end;
}

main {
  grid-area: main;
  background-color: #F7F6F6;
}
